built-in pipes
<br>
-----------------------------------------
<br>
Date pipe : {{today| date:"short"}}
<br>
LowerCase Pipe : {{message | lowercase}}
<br>
UpperCase Pipe : {{message | uppercase}}
<br>
TitleCase Pipe : {{message | titlecase}}
<br>
Currency pipe : {{price | currency:"USD"}}
<br>
Decimal Pipe : {{price | number:"1.2-2"}}
<br>
Json Pipe : {{objPerson | json}}
<br>
Async Pipe : {{helloWorld$ | async}}
<br>
<br>
custom pipes
<br>
-----------------------------------------
<br>
duplicate pipe : {{message | duplicate:2}}
<br>
total price pipe : {{orderItem | totalPrice}}
<br>
<br>
impure and pure pipes
<br>
-----------------------------------------
<br>
pure: {{person | personInfoPure}}
<br>
impure : {{person | personInfoImpure}}

<br>
<button (click)="changePersonData()">Change person Data</button>
<button (click)="changePersonReferance()">Change person referance</button>