built-in pipes
<br>
-----------------------------------------
<br>
Date pipe : {{today| date:"short"}}
<br>
LowerCase Pipe : {{message | lowercase}}
<br>
UpperCase Pipe : {{message | uppercase}}
<br>
TitleCase Pipe : {{message | titlecase}}
<br>
Currency pipe : {{price | currency:"USD"}}
<br>
Decimal Pipe : {{price | number:"1.2-2"}}
<br>
Json Pipe : {{person | json}}
<br>
Async Pipe : {{helloWorld$ | async}}

custom pipes
<br>
-----------------------------------------
<br>
duplicate pipe : {{message | duplicate:2}}
<br>
total price pipe : {{orderItem | totalPrice}}